@font-face {
    font-family: din-regular;
    src: url(/font/DIN-Regular.ttf);
  }

@font-face {
    font-family: din-bold;
    src: url(/font/DIN\ Alternate\ Bold.ttf);
}

@media only screen and (min-width: 458px) {

  #herodesktop{
    background-image: url(/imagenes/hero-heolico.jpg);
    background-size: cover;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-repeat: no-repeat;
  }
  #titulodesktop{
    position: relative;
    top: -15%;
  }
  #linea{
    display: none;
  }
  #bajadamobile{
    display: none;
  }
  #molinosmobile{
    display: none;
  }
  #numeritosmobile{
    display: none;
  }
}


@media only screen and (max-width: 458px) {

  #herodesktop{
    background-image: url(/imagenes/hero-heolico-mobile.jpg);
    background-size: cover;
    height: 812px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-repeat: no-repeat;
  }
  #break{
    display: none;
  }
  #bajadadesktop{
    display: none;
  }
  #espacio{
    display: none;
  }
  #molinosdesk{
    display: none;
  }
  #numeritosdesk{
    display: none;
  }
  #bajada{
    color: black !important;
  }
  #luz{
    color: #fff !important;
  }
  #operaciones{
    color: #fff !important;
  }
  #numeritos{
    color: black !important;
  }
  #bajadamobile{
   
    line-height: normal;
    padding: 10%;
  }
  #molinosmobile{
   
    padding: 10%;
    line-height: normal;
  }
  #numeritosmobile{
   
    padding: 10%;
    line-height: normal;
  }

}